body {
    background-color: pink;
}

/* character selection bar */
h3 {
    text-align: center;
}

.character-selection {
    display: flex;
    margin: 0 auto 150px;
    justify-content: center;
    width: 170px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(97, 162, 216);
    background-color: rgb(97, 162, 216);
}

.character-selection * {
    border-radius: 5px;
    border-color: rgb(62, 135, 196);
    
}

#pick-me-batman #batman-button {
    height: 80px;
}

#pick-me-joker #joker-button {
    height: 80px;
}

#pick-me-batman {
    width: 75px;
    margin-right: 5px;
}

#pick-me-joker {
    width: 75px;
    margin-left: 5px;
}


/* dressing room */
.character-stage {
    position: absolute;
    margin: auto 0 auto 7%;
}

#batman-model {
    position: absolute;
    height: 450px;
    display: none;
}

.b-closet {
    position: absolute;
    height: 450px;
    display: none;
}

#joker-model {
    position: absolute;
    height: 425px;
    margin-left: 30px;
    display: none;
}

.j-closet {
    position: absolute;
    height: 425px;
    margin-left: 30px;
    display: none;
}

#j-dress1 {
    position: absolute;
    margin-left: 16px;
}

#j-skirt2 {
    margin-left: 18px;
}

#j-skirt1 {
    margin-left: 18px;
}


/* clothing choices */
.closet {
    padding: 2%;
    display: grid;
    float: right;
    margin-right: 15%;
    position: relative;
}

.dress * {
    height: 70px;
}

.dress {
    height: 90px;
    width: 90px;
}

.top * {
    height: 60px;
}

.top {
    height: 90px;
    width: 90px;
}

#top5 {
    width: 70px;
}

.skirt * {
    height: 50px;
}

.skirt {
    height: 90px;
    width: 90px;
}

.fight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#fight-button {
    margin-top: 90px;
}

.roll-table {
    width: 1000px;
    height: 100%
}

#dice-roll1 {
    float: left;
    margin-left: 35%;
    z-index: 2;
}

#dice-roll2 {
    float: right;
    margin-right: 45%;
}

#dice-roll1, #dice-roll2 {
    font-size: 40px;
    color: rgb(62, 135, 196);;
}