body {
    background-color: rgb(236, 177, 187);
}

.title-text {
    font-size: 25px;
    text-align: center;
    color: #c16a63;
}

.title-elements {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#welcome-char {
    height: 300px;
    margin: 0 auto;
}

#play-button {
    margin: 0 auto;
    border-radius: 50%;
    height: 90px;
    width: 400px;
    background: none;
    border-style: solid;
    border-width: 20px;
    border-color: #c16a63;
    color: #c16a63;
    font-size: xx-large;
}