body {
    background-color: rgb(236, 177, 187);
}

.title-text {
    font-size: 25px;
    text-align: center;
    color: #c16a63;
    margin-top: 5%;
}

.title-elements {
    display: flex;
    flex-direction: column;
}

#welcome-char {
    height: 300px;
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: 40px;
}

#play-button {
    margin: 0 auto;
    border-radius: 50%;
    height: 90px;
    width: 400px;
    background: none;
    border-style: solid;
    border-width: 20px;
    border-color: #c16a63;
    color: #c16a63;
    font-size: xx-large;
    cursor: pointer;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.25);
}

#play-button:hover {
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to right, rgb(97, 162, 216), pink, rgb(238, 209, 214), pink, rgb(97, 162, 216));
}

#play-button:active {
    box-shadow: 1px 2px rgba(0, 0, 0, 0.25)
}